@model IEnumerable<IPTSEOnlineExam.BLL.Models.Questions>
@{
    ViewBag.Title = "Questions List";
}
<h2>Questions List</h2>
<p>
    @Html.ActionLink("Add New Question", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Action")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayName("Test Type")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionText)
        </th>
        @foreach (var item in (Model.Select(m => m.questionsChoice)).FirstOrDefault())
        {
            <th>
                @Html.DisplayName("Choice")
            </th>
        }


    </tr>
    @foreach (var item in Model.OrderByDescending(c => c.Id))
    {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @if (item.TestId == 1)
            {
                @Html.Label("Mock")
            }
            else if (item.TestId == 2)
            {
                @Html.Label("Full")
            }
        <td>
            @Html.DisplayFor(modelItem => item.QuestionText)
        </td>
        @foreach (var choice in item.questionsChoice)
        {
            <td>
                @Html.DisplayFor(modelItem => choice.ChoiceText)
            </td>
        }


    </tr>
    }
</table>
